#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
html {
    scroll-behavior: smooth;
  }

  /* Adicione estas regras ao seu arquivo CSS global */

@keyframes gradientShift {
  0% {
    stop-color: hsl(var(--primary)); /* Cor inicial 1 */
  }
  25% {
    stop-color: hsl(var(--accent)); /* Cor intermediária 1 */
  }
  50% {
    stop-color: hsl(var(--destructive)); /* Cor final 1 */
  }
  75% {
    stop-color: hsl(var(--secondary)); /* Cor intermediária 2 */
  }
  100% {
    stop-color: hsl(var(--primary)); /* Volta para a Cor inicial 1 */
  }
}

@keyframes gradientShiftReverse {
  0% {
    stop-color: hsl(var(--secondary)); /* Cor inicial 2 */
  }
  25% {
    stop-color: hsl(var(--muted)); /* Cor intermediária 3 */
  }
  50% {
    stop-color: hsl(var(--border)); /* Cor final 2 */
  }
  75% {
    stop-color: hsl(var(--accent)); /* Cor intermediária 4 */
  }
  100% {
    stop-color: hsl(var(--secondary)); /* Volta para a Cor inicial 2 */
  }
}

